{% extends "accounts/base.html" %}
{% block global_navi %}

    <div class="row">
        <div class="col-md">

            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th colspan=2>登録情報一覧</th>
                    </tr>
                </thead>
                <tbody>
                    {% for shopinfo1, shopinfo2 in data.items %}
                    <tr>
                        <th class="bg-info text-white" scope="row">{{shopinfo1}}</th>
                        <td class="bg-light text-dark">{{shopinfo2}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <center>
                <a href="{% url 'myapp:store_mypage_edit' %}">
                    <button type="button" class="btn col-sm-6 btn-warning">編集</button>
                </a>
            </center>
        </div>
    </div>



{% endblock %}
