{% extends "accounts/base.html" %}
{% block global_navi %}

<form class="form--store_information" action="{% url 'myapp:store_setting' %}" method="post">
  {% csrf_token %}
  <!-- ここはログインユーザーで自動入力(formとして送信しないとエラーになるため　hiddenとして確保) -->

  {{ form.STORE_NAME }}
  <div class="error">{{form.STORE_NAME.errors}}</div>

  {{ form.STORE_POSTAL_CODE }}
  <div class="error">{{form.STORE_POSTAL_CODE.errors}}</div>

  {{ form.STORE_ADDRESS }}
  <div class="error">{{form.STORE_ADDRESS.errors}}</div>

  {{ form.STORE_TEL }}
  <div class="error">{{form.STORE_TEL.errors}}</div>

  <button class="form__button" type="submit" name="store_id">
    <span>確定</span>
    <span>登録</span>
  </button>
    <center>
      <a href="{% url 'myapp:store_mypage' %}">
          <button type="button" class="btn col-sm-6 btn-info">戻る</button>
      </a>
    </center>
</form>










{% endblock %}
