{% extends "accounts/base.html" %}
{% block global_navi %}


<form class="form--store_information" action="{% url 'myapp:store_show_menu' %}" method="post">
    {% csrf_token %}
  <!-- ここはログインユーザーで自動入力(formとして送信しないとエラーになるため　hiddenとして確保) -->
  {% comment %} <div hidden>{% render_field form.STORE_INFO class='text_box--small' placeholder=form.STORE_INFO.label %}</div> {% endcomment %}

    {% comment %} {% render_field form.CLASS1_ID class='text_box--small' placeholder=form.CLASS1_ID.label %} {% endcomment %}
  
    {{ form.CLASS1 }}
      <div class="error">{{form.CLASS1.errors}}</div>

    {% comment %} {% render_field form.CLASS2_ID class='text_box--small' placeholder=form.CLASS2_ID.label %} {% endcomment %}
  
    {{ form.CLASS2 }}
    <div class="error">{{form.CLASS2.errors}}</div>

    {% comment %} {% render_field form.CLASS3_ID class='text_box--small' placeholder=form.CLASS3_ID.label %} {% endcomment %}

    {{ form.CLASS3 }}
    <div class="error">{{form.CLASS3.errors}}</div>

    {{ form.PLICE }}
    <div class="error">{{form.PLICE.errors}}</div>


    <button class="form__button" type="submit" name="store_id">
      <span>確定</span>
      <span>登録</span>
    </button>
  </form>

{% endblock %}