{% extends "base.html" %}
{% block global_navi %}

<!-- メニュー表示部分-->
<!-- フード中分類 -->
<div class="wrapper--show_menu">

  <div class="radio_button--food_drink">
    <input type="radio" id="food" class="js-show__container radio_button--food_drink__radio" name="food_drink" value="food" checked="true" data-container="food-menu">
      <label for="food">Food</label>
    <input type="radio" id="drink" class="js-show__container radio_button--food_drink__radio" name="food_drink" value="drink" data-container="drink-menu">
      <label for="drink">Drink</label>
  </div>

  <ul class="js-sortable_class_2--food" data-target="food-menu">
    {% for class_2 in class_2 %}
      {% if class_2[0] == 0 %}
        <li class="menu_box--class_2 js-show__lightbox js-show__menu_box" data-show="menu_class_3" data-menu_box="class_1_{{class_2[0]}}_class_2_{{class_2[1]}}" id="{{class_2[0]}},{{class_2[1]}},{{class_2[2]}}">
          {{class_2[2]}}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
<!-- ドリンク中分類 -->
  <ul class="js-sortable_class_2--drink" data-target="drink-menu" style= display:none;>
      {% for class_2 in class_2 %}
        {% if class_2[0] == 1 %}
          <li class="menu_box--class_2 js-show__lightbox js-show__menu_box" data-show="menu_class_3" data-menu_box="class_1_{{class_2[0]}}_class_2_{{class_2[1]}}" id="{{class_2[0]}},{{class_2[1]}},{{class_2[2]}}">
            {{class_2[2]}}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
</div>

<!-- ソートの順番を保存するために必要なインプット -->
<form id="sort_menu" method="post" action="/sort_menu">
  <input id="class_2_sort_result_food" name="class_2_sort_result_food" class="array">
  <input id="class_2_sort_result_drink" name="class_2_sort_result_drink" class="array">
  <input id="class_3_sort_result" name="class_3_sort_result" class="array">
</form>

<div class="lightbox">
<!-- class3 -->
<form class="wrapper--class_3 js-sortable_class_3" id="delete_menu" method="post" action="/delete_menu" data-target="menu_class_3">
<!-- <ul class="js-sortable_class_3 container--sortable_class_3"> -->
  {% for class_3 in class_3 %}
    <li class="menu_box--class_3" id="{{class_3[0]}},{{class_3[1]}},{{class_3[2]}},{{class_3[3]}}" data-target="class_1_{{class_3[1]}}_class_2_{{class_3[2]}}"style="display:none;">
      <input type="checkbox" disabled="true" class="delete" value="{{class_3[0]}}" name="menu_id" id="menu_id_{{class_3[0]}}">
      <label class="menu_box--class_3__name" for="menu_id_{{class_3[0]}}" value="menu_id_{{class_3[0]}}">{{class_3[4]}}</label>
      <span class="menu_box--class_3__price" value="{{class_3[5]}}">¥{{class_3[5]}}</span>
      <span class="menu_box--class_3__quantity_label">数量</span>
      <span class="menu_box--class_3__increase">+</span>
      <input class="menu_box--class_3__quantity" min="0" type="number" pattern="\d">
      <span class="menu_box--class_3__decrease">−</span>
      <span class="menu_box--class_3__add_to_cart"></span>
    </li>
  {% endfor %}
<!-- </ul> -->
</form>
<!-- /class3 -->

<!-- addmenu -->
<form id="create_menu" action="/create_menu" method="post" class="wrapper--add_menu" data-target="add_menu">
  <input class="text_box--small" type="text" name="class_3" placeholder="料理名" required>
  <input class="text_box--small" type="number" name="price" placeholder="金額" required>
  <div class="selectbox">
    <select class="selectbox" name="class_1">
      <option value="food">食べ物</option>
      <option value="drink">飲み物</option>
    </select>
  </div>
  <input class="text_box--small" type="text" name="class_2" placeholder="分類" required>
  <button class="form__button" type="submit" id="create_menu_submit">
    <span>確定</span>
    <span>登録</span>
  </button>
</form>
<!-- /addmenu -->

<!-- cart -->
<div class="wrapper--cart" data-target="cart">
  <div class="menu_box--order__food">Food</div>
  <div class="menu_box--order__drink">Drink</div>
  <button class="form__button" type="submit" id="order_submit">
    <span>確定</span>
    <span>注文</span>
  </button>
</div>
<!-- /cart -->

<!-- order_history -->
<div class="wrapper--order_history" data-target="order_history">
  <div class="menu_box--order_history__food">Food</div>
  <div class="menu_box--order_history__drink">Drink</div>
  <div class="form__button" type="submit" id="order_history_submit">
    <span>確定</span>
    <span>会計</span>
  </div>
</div>
<!-- /order_history -->
<div class="lightbox__back" data-target="lightbox_always_show">></div>
</div>

<div class="container--controller">
  <div class="button__order_history js-show__lightbox" data-show="order_history"></div>
  <div class="button__delete">ー</div>
  <div class="button__add js-show__lightbox" data-show="add_menu">＋</div>
  <div class="button__sortable" type="" form="">⇅</div>
</div>

{% endblock %}
