{% extends "accounts/base.html" %}
{% block global_navi %}
<div class="wrapper--login">
    <div class="error">Grandmenu会員登録</div>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.non_field_errors }}

            {{ form.email }}
            <div class="error">{{ form.email.errors }}</div>
            {{ form.password1 }}
            <div class="error">{{ form.password1.errors }}</div>
            {{ form.password2 }}
            <div class="error">{{ form.password2.errors }}</div>

            <button class="form__button" type="submit">
                <span>確定</span>
                <span>登録</span>
            </button>
        </form>
</div>
{% endblock %}