/*====================
サイトのglobal設定
====================*/
* {
    box-sizing: border-box;
    &::-webkit-scrollbar {
        display:none;
    }
}

/*リンクは基本白表示*/
a {
    color: #fff;
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    font-family: $font-base;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="submit"]{
    -webkit-appearance: none;
    border-radius: 0;
}

input[type=submit], button{
  -webkit-appearance: none;
}

input[type="button"],input[type="text"],input[type="submit"] {
   -webkit-appearance: none;
   border-radius: 0;
}

select{
    outline:none;
    text-overflow: '';            /*テキストがオーバーフローした際に””で表示*/
    vertical-align: auto;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-align: center;
}

button {
    background: none;
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

button:focus { outline:0; }

::placeholder {
    color: #757575;
    font-size: $text-body;
}

input {
    font-size: $text-body;
}