@import "../setting/setting.scss";

@mixin button{
 	display: inline-block;
 	position: relative;
 	text-decoration: none;
 	color: $text-color-main;
 	width: 50px;
 	height: 50px;
  	line-height: 50px;
 	border-radius: 50%;
 	text-align: center;
 	overflow: hidden;
 	border: dashed 2px #FFF;
 	transition: .4s;
 	font-size: $text-icon;
 	margin-right: 20px;
 	padding:0;	//safariのボタンのバグのために必要
 }