@import "../setting/setting.scss";

.fadein{
	animation: fadeIn 2s ease 0s 1 normal;
}

@keyframes fadeIn {
	0% {opacity: 0}
	100% {opacity: 1}
}

.vibration {
	animation: vibration .3s  infinite;
}

@keyframes vibration {
	0% {transform: translate(0px, 0px) rotateZ(0deg)}
	25% {transform: translate(1px, 0px) rotateZ(0.25deg)}
	50% {transform: translate(1px, 1px) rotateZ(0deg)}
	75% {transform: translate(1px, 0px) rotateZ(-0.25deg)}
	100% {transform: translate(0px, 0px) rotateZ(0deg)}
}

.bound {
	animation: bound 1s  infinite;
}

@keyframes bound {
	0% {
		transform: translateY(0px);
		background-color: $color-main;
	}
	50% {
		transform: translateY(-7.5px);
		background-color: $color-sub;
	}
	100% {
		transform: translateY(0px);
		background-color: $color-main;
	}
}