@import "./setting/setting.scss";

@mixin stagger-anim-delay($i, $initial-delay, $stagger-delay) {
  @while $i > 0 {
    &:nth-of-type(#{$i}) {
      animation-delay: $initial-delay + $stagger-delay * $i;
    }
    $i: $i - 1;
  }
}

.sales_book{
  display: flex;
  justify-content: space-between;
  width: 85%;
  max-width: 350px;
  flex-shrink: 0;
  &--header{
    display: flex;
    justify-content: space-between;
    width: 85%;
    max-width: 350px;
    border-bottom: double 3px $text-color-main;
    flex-shrink: 0;
  }
  &--total{
    display: flex;
    justify-content: space-between;
    width: 85%;
    max-width: 350px;
    border-top: solid 3px $text-color-main;
    flex-shrink: 0;
  }
  &__item{
    white-space: nowrap;
    padding-left: 10px;
    line-height: 30px;
    color: $text-color-main;
    animation: 1s anim-lightspeed-in ease forwards;
    &:last-child{
      margin-left: auto;
    }
    &--center{
      white-space: nowrap;
      padding-left: 10px;
      line-height: 30px;
      color: $text-color-main;
      margin: 0 auto;
      animation: 1.5s anim-lightspeed-in ease forwards;
    }
  }
}


//Keyframes
@keyframes anim-lightspeed-in {
  0% {
    transform: translateX(-200%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}