@mixin stagger-anim-delay($i, $initial-delay, $stagger-delay) {
  @while $i > 0 {
    &:nth-of-type(#{$i}) {
      animation-delay: $initial-delay + $stagger-delay * $i;
    }
    $i: $i - 1;
  }
}

.lines {
  display: flex;
  height: 100%;
  width: 100%;
  top: 0;
  position: absolute;
  justify-content: space-between;
}

.line__label {
  display: block;
  width: 100px;
  text-align: center;

  position: absolute;
  bottom: -20px;
  right: -50px;

  &.title {
    text-transform: uppercase;
    font-weight: bold;
  }
}

.charts {
  width: 100%;
  height: 100%;
  position:  relative;
  top: 0;
  left: 0;
  z-index: 10;
  overflow: scroll;
}

// .chart {
//   margin: 30px 0 0;

//   &:first-child {
//     margin: 0;
//   }
// }

.chart__title {
  display: block;
  margin: 0 0 10px;
  text-align: center;
  color: $text-color-main;

  font-weight: bold;

  opacity: 0;

  animation: 1s anim-lightspeed-in ease forwards;

  // .chart--dev & {}
  // .chart--prod & {
  //   animation-delay: 3.3s;
  // }
  // .chart--design & {
  //   animation-delay: 4.5s;
  // }
}

.chart {
  overflow: scroll;
  position: relative;
  height: calc(100% - 56px);
  &__title{
    display: block;
    margin-bottom: 10px;
    text-align: center;
    color: $text-color-main;
    font-weight: bold;
    animation: 0.5s anim-lightspeed-in ease forwards;
    font-size: $text-subtitle;
  }
  &__lines{
    display: flex;
    position: absolute;
    width: 100%;
    height: calc(100% - 56px);
    justify-content: space-between;
    animation: 1s anim-lightspeed-in ease forwards;
  }
  &__line {
    width: 2px;
    background: rgba(#eee, 0.6);
  }
  &__bars{
    position: relative;
    width: 100%;
    height: calc(100% - 56px);
    overflow: scroll;
  }
  &__bar{
    $border-rad: 4px;
    display: flex;
    height: 30px;
    margin: 10px 0;
    list-style: none;
    background: linear-gradient(to left, #4cb8c4, #3cd3ad);
    border-top-right-radius: $border-rad;
    border-bottom-right-radius: $border-rad;
    animation: 2s anim-lightspeed-in ease forwards;
  }
  &__bar_label{
    white-space: nowrap;
    padding-left: 10px;
    line-height: 30px;
    color: white;
  }
  &__chart_labels{
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-between;
    margin: 10px 0 0;
    color: $text-color-main;
    animation: 1.5s anim-lightspeed-in ease forwards;
    font-size: $text-subtitle;
    flex-flow: nowrap;
  }
  &__total{
    display: block;
    margin-top: 10px;
    text-align: center;
    color: $text-color-main;
    font-weight: bold;
    animation: 0.5s anim-lightspeed-in ease forwards;
    font-size: $text-subtitle;
  }
}

.chart__label {
  padding-left: 10px;
  line-height: 30px;
  color: white;
}

//Keyframes
@keyframes anim-lightspeed-in {
  0% {
    transform: translateX(-200%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}