@import "../setting/setting.scss";

.lightbox{
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba($color-active,0.5);
	top: 0;
	left: 100%;
	display: none;
	flex-flow: row wrap;
	overflow-y: scroll;
	// padding:5px 0 100px 0;
	align-content: center;
	justify-content: center;
	backdrop-filter: blur(5px);
}

.lightbox--ws_error{
	position: absolute;
	display: none;
	align-items: center;
	flex-flow: column nowrap;
	width: 100%;
	height: 100%;
	top: 0;
	left: 100%;
	visibility: hidden;
	background: rgba($color-active,0.5);
	backdrop-filter: blur(5px);
	&__wi-fi{
		width: 100px;
		height: 100px;
		margin: 200px auto 20px auto;
		background: url('../img/wi-fi.svg');
    	background-size: cover;
    	background-repeat: no-repeat;
    	filter:drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
	}
}

.lightbox__back{
	display: inline-block;
	position: fixed;
	right: 0;
	top: 50%;
	font-size:$text-icon;
	color: $text-color-main;
	width: 30px;
	height: 75px;
	line-height: 75px;
	text-align: center;
	overflow: hidden;
	transition: .4s;
	background-color: $color-main;
	filter:drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
	@media screen and (max-width: 768px) {
		opacity: 0.75;
		background-color: $color-sub;
		font-size:$text-body;
		width: 20px;
	}
	// background: $color-sub;
	&:hover {
	background: $color-active;
	box-shadow: 0px 0px 0px 5px $color-active;
	}
}
