@import "../setting/setting.scss";

.total{
	&--order{
		background-color: $color-main;
		color: $text-color-main;
		display: inline-block;
    	position: relative;
    	width: 250px;
    	height: 50px;
    	margin: 10px calc(50% - 125px) 10px calc(50% - 125px);
    	border-radius: 5px;
    	border-style: none;
    	text-align: center;
    	font-size: $text-subtitle;
    	line-height: 50px;
	}
	&--order_history{
		background-color: $color-main;
		color: $text-color-main;
		display: inline-block;
    	position: relative;
    	width: 250px;
    	height: 50px;
    	margin: 10px calc(50% - 125px) 10px calc(50% - 125px);
    	border-radius: 5px;
    	border-style: none;
    	text-align: center;
    	font-size: $text-subtitle;
    	line-height: 50px;
	}
}